@font-face { font-family: norse-bold; src: url('norse-bold.otf'); } 

:root{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  padding: 0% 0%;
  margin: 0% 0%;
}

input, label {
  display: block;
}

input {
  width: 12rem;
  padding: 5px;
  margin: 0px;
  box-sizing: border-box;
  margin: 0rem 3rem 2rem 0rem;
  font-size: 1rem;
  height: 1.2 rem;
}

input:focus {
  border-color: blue;
  box-shadow: 10px 5px 5px red;
}

label {
  font-size: 0.7rem;
  color:rgb(70, 70, 67);
  font-weight: 700;
}

button {
  margin: 2rem 1rem 1rem 4rem;
  padding: 0.8rem 3rem;
  color:rgb(255, 253, 253);
  background-color:rgb(73, 91, 131);
  font-size: 1rem;
  border-radius: 10px;
  font-weight: 700;
}

a {
  color: rgb(18, 85, 57);
  font-weight: 700;
  text-decoration: none;
}

.left-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 40vw;
  background-image: url("background.avif");
  background-size: cover;
}

.left-container .space {
  display: flex;
  flex-direction: column;
  height: 25vh;
  width: 40vw;
}

.herobox {
  display: flex;
  align-items: center;
  height: 15vh;
  width: 40vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-img {
  background-image: url("odin-logo.png");
  background-size: 6rem;
  background-repeat: no-repeat;
  background-position: right;
  width: 15vw;
  height: 15vh;
}

.hero-text {
  font-size: 8rem;
  font-family: 'norse-bold';
  color: white;
}

.right-container {
  display: flex;
  flex-direction: column;
}

.intro-box {
  width: 60vw;
  height: 40vh;
  background-color: rgb(241, 235, 235);
}

.intro-text {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 25vh;
  margin-left: 4rem;
  margin-right: 4rem;
}

.form-box {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 30vh;
  background-color: rgb(255, 255, 255);
  padding: 1rem 4rem;
  box-shadow: 10px 5000px 5000px rgba(0,0,0,0.75);
}

.create-account {
  width: 60vw;
  height: 27vh;
  background-color: rgb(241, 235, 235);
}

.create-account-text {
  margin-left: 4rem;
  margin-top: 2rem;
}

.form-box .header {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.form-div {
  display: flex;
}